<% if !@recipes.empty? %>
  <% @recipes.each do |recipe| %>
    <div class="row">
      <div class="medium-6 large-4 columns">
        <article class="article-card">
          <img src="<%= recipe.image_url %>">
          <div class="card-content">
            <h4><%= recipe.title %></h4>
            <p>Blah blah content blah blah blah.</p>
            <p>
              <%= link_to "Recipe Details", recipe_path(recipe.id), id: "recipe-link-#{recipe.id}" %>
            </p>
          </div>
        </article>
      </div>
    </div>
  <% end %>
<% else %>
  <%= link_to "Let's enter your first recipe!", new_recipe_path %>
<% end %>
