<% if !@recipes.empty? %>
  <div class="row">
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <% @recipes.each do |recipe| %>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title"><%= recipe.title %></a>
          <div class="accordion-content" data-tab-content >
            <% unless recipe.image_url.nil? %>
              <%= image_tag recipe.image_url, id: "recipe-image-#{recipe.id}" %>
            <% end %>
            <%= link_to "Recipe Details", recipe_path(recipe.id), id: "recipe-link-#{recipe.id}" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <%= link_to "Let's enter your first recipe!", new_recipe_path %>
<% end %>
