/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 @import 'settings';

 .article-card {
 	border: 1px solid #d7d7d7;
 	margin-bottom: 1.5rem;
 	box-shadow: 2px 4px 5px 0px #d7d7d7;
 	.card-content {
 		background: #fff;
 		margin: 1.25rem;
 		.post-author {
 			text-align: center;
 		}
 		h4 {
 			color: #CF000F;
 		}
 		p {
 			color: #757D75;
 		}
 		a i {
 			font-weight: 300;
 			color: #757D75;
 			margin: 0 .5rem;
 			padding: 5px 7px 5px 7px;
 			border: 1px solid #757D75;
 			border-radius: 50%;
 		}
 		img.post-icon {
 			position: absolute;
 			width: 3rem;
 			border-radius: 50%;
 			margin-top: -3rem;
 		}
 	}
 }

.right-arrow {
	display: inline-block;
	position: relative;
	background: map-get($foundation-palette, tertiary);
	padding: 5px;
  width: 100px;
  text-align: center;
  float: right;
  border-radius: 7px;
}
.right-arrow:after {
	content: '';
	display: block;
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid map-get($foundation-palette, tertiary);
}

.left-arrow {
	display: inline-block;
	position: relative;
	background: map-get($foundation-palette, secondary);
	padding: 5px;
  width: 100px;
  text-align: center;
  border-radius: 7px;
}
.left-arrow:after {
	content: '';
	display: block;
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid map-get($foundation-palette, secondary);
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
}
